[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Infrastracture as code provisioning using Terraform
[access "refs/*"]
	owner = group user/Ella Shulman (eshulman2)
	owner = group user/Vadim Khitrin (vkhitrin)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group @rhos-ci
	label-Code-Review = -2..+2 group nfv-qe-core
	label-Code-Review = -2..+2 group user/Ella Shulman (eshulman2)
	label-Code-Review = -2..+2 group user/Vadim Khitrin (vkhitrin)
	label-Verified = -1..+1 group @rhos-ci
	label-Verified = -1..+1 group nfv-qe-core
	label-Verified = -1..+1 group user/Ella Shulman (eshulman2)
	label-Verified = -1..+1 group user/Vadim Khitrin (vkhitrin)
	push = group nfv-qe-core
	push = group user/Ella Shulman (eshulman2)
	push = group user/Vadim Khitrin (vkhitrin)
	read = group @rhos-ci
	read = group nfv-qe-core
	read = group user/Ella Shulman (eshulman2)
	read = group user/Vadim Khitrin (vkhitrin)
	rebase = group @rhos-ci
	rebase = group nfv-qe-core
	rebase = group user/Ella Shulman (eshulman2)
	rebase = group user/Vadim Khitrin (vkhitrin)
	removeReviewer = group @rhos-ci
	removeReviewer = group nfv-qe-core
	removeReviewer = group user/Ella Shulman (eshulman2)
	removeReviewer = group user/Vadim Khitrin (vkhitrin)
	submit = group @rhos-ci
	submit = group nfv-qe-core
	submit = group user/Ella Shulman (eshulman2)
	submit = group user/Vadim Khitrin (vkhitrin)
[access "refs/heads/*"]
	create = group user/Vadim Khitrin (vkhitrin)
	push = +force group user/Vadim Khitrin (vkhitrin)
	pushMerge = group user/Vadim Khitrin (vkhitrin)
	read = group user/Vadim Khitrin (vkhitrin)
[access "refs/tags/*"]
	push = group user/Vadim Khitrin (vkhitrin)
	push = +force group user/Vadim Khitrin (vkhitrin)
